.cb-header{
    width: 100%;
    /* height: 50px; */
    overflow: hidden;
    position: relative;
    z-index: 1;
}
.cb-header .cb-fixed-header{
    width: 100%;
    padding: 12px 35px 0px 10px;
    z-index: 1;
    display: flex;
    align-items: center;
    position: fixed;
    background: #191C22 url(../../../assets/images/small-dots.png);
    background-position: center;
    background-repeat: repeat;
    background-size: cover;
}
.cb-header .cb-fixed-header .main-logo{
    width: 60px;
    height: 60px;
    background: #191C22;
    box-shadow: -1px 1px 2px rgba(10, 11, 14, 0.2), 1px -1px 2px rgba(10, 11, 14, 0.2), -1px -1px 2px rgba(40, 45, 54, 0.9), 1px 1px 3px rgba(10, 11, 14, 0.9), 
    inset 1px 1px 2px rgba(40, 45, 54, 0.3), inset -1px -1px 2px rgba(10, 11, 14, 0.5);

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;
}
.cb-header .cb-fixed-header h3{
    font-weight: 600;
    font-size: 25px;
    color: #22B455;
}
.cb-header .cb-fixed-header h3 span{
    color: #D0D1D0;
}
.cb-header .cb-fixed-header .search-box{
    width: 190px;
    height: 48px;
    position: relative;
    margin-left: 40px;
}
.cb-header .cb-fixed-header .search-box svg{
    position: absolute;
    top: 48%;
    left: 10px;
    transform: translate(0, -50%);
}
.cb-header .cb-fixed-header .search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    padding: 0 5px 0 40px;
    font-family: 'Rajdhani', sans-serif;
    color: #fff;

    background: #191C22;
    box-shadow: -2px 2px 2px rgba(10, 11, 14, 0.2), 2px -2px 2px rgba(10, 11, 14, 0.2), -2px -2px 2px rgba(40, 45, 54, 0.9), 2px 2px 5px rgba(10, 11, 14, 0.5), 
    inset 1px 1px 2px rgba(40, 45, 54, 0.3), inset -1px -1px 2px rgba(10, 11, 14, 0.5);
    border-radius: 15px;
}

.cb-header .cb-fixed-header .search-box input::placeholder{
    font-family: 'Rajdhani', sans-serif;
    color: #656569;
}
.cb-header .cb-fixed-header nav ul{
    display: flex;
    margin: 0;
}
.cb-header .cb-fixed-header nav ul .cb-item{
    background: #191C22;
    box-shadow: -5px 5px 10px rgb(12 13 16 / 20%), 5px -5px 10px rgb(12 13 16 / 20%), -5px -5px 10px rgb(38 43 52 / 90%), 5px 5px 13px rgb(12 13 16 / 90%), inset 1px 1px 2px rgb(38 43 52 / 30%), inset -1px -1px 2px rgb(12 13 16 / 50%);
    width: 108px;
    height: 44px;
    margin: 0;
    margin-right: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
}
.cb-header .cb-fixed-header nav ul .cb-item a{
    font-family: 'Rajdhani', sans-serif;

    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    letter-spacing: -0.01em;
    text-transform: capitalize;

    color: #C7C7C7 !important;
}

.cb-header .cb-fixed-header nav ul .cb-item.active{
    background: #191C22;
    box-shadow: 1px 1px 2px rgba(38, 42, 51, 0.3), -1px -1px 2px rgba(12, 14, 17, 0.5), 
    inset -3px 3px 6px rgba(12, 14, 17, 0.2), inset 3px -3px 6px rgba(12, 14, 17, 0.2), inset -3px -3px 6px rgba(38, 42, 51, 0.9), 
    inset 3px 3px 8px rgba(12, 14, 17, 0.9);
    
}
.cb-header .cb-fixed-header nav ul .cb-item.active a{
    color: #23B054 !important;
}

.cb-header .cb-fixed-header .cb-login-signup .login-btn,
.cb-header .cb-fixed-header .cb-login-signup .signup-btn{
    width: 106px;
    height: 46px;
    justify-content: center;
    align-items: center;
    display: flex;

    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #C7C7C7 !important;
}

.cb-header .cb-fixed-header .cb-login-signup .signup-btn{
    background: linear-gradient(135deg, #1C2027 0%, #1E242B 100%);
    box-shadow: -1px 1px 2px rgba(12, 14, 16, 0.2), 1px -1px 2px rgba(12, 14, 16, 0.2), -1px -1px 2px rgba(46, 54, 66, 0.9), 1px 1px 3px rgba(12, 14, 16, 0.9), inset 1px 1px 2px rgba(46, 54, 66, 0.3), inset -1px -1px 2px rgba(12, 14, 16, 0.5);
    border-radius: 5px;
    color: #23B054 !important;
}