<header class="cb-header">
    <div class="cb-fixed-header justify-content-between">
        <div class="d-flex align-items-center">
            <div class="main-logo">
                <a class="logo" href="/">
                    <h3>S<span>M</span></h3>
                </a>
            </div>
            <div class="search-box">
                <svg width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.577 18.6154C15.0166 18.6154 18.6155 15.0164 18.6155 10.5769C18.6155 6.13739 15.0166 2.53845 10.577 2.53845C6.13752 2.53845 2.53857 6.13739 2.53857 10.5769C2.53857 15.0164 6.13752 18.6154 10.577 18.6154Z" stroke="#656569" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    <path d="M19.4613 19.4616L16.9229 16.9231" stroke="#656569" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                <input type="text" placeholder="Search Here" class="cb-search">
            </div>
        </div>
        <div>
            <nav>
                <ul>
                    <li class="cb-item active"><a href="">Sports</a></li>
                    <li class="cb-item"><a href="/casino">Casino</a></li>
                    <li class="cb-item"><a href="#">Inplay</a></li>
                    <li class="cb-item"><a href="#">Fulltoz</a></li>
                </ul>
            </nav>
        </div>
        <div class="cb-login-signup"> 
            <div class="cb-login d-flex">
                <a class="login-btn" href="#">Log in</a>
                <a class="signup-btn" href="#">Sign up</a>
            </div>
        </div>
    </div>
</header>