<div class="main-container">
    <app-header></app-header>
    <div class="cb-container">
        <app-sidebar></app-sidebar>
        <div class="cb-col cb-mid-content">
            <div class="cb-mid-left">
                <div class="img-box">
                    <img src="../../../assets/images/casino.png" alt="">
                </div>

                <div class="sub-nav">
                    <ul class="nav nav-pills">
                        <li class="nav-item">
                          <a class="nav-link active" href="#">Today</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Tommorrow</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">Inplay</a>
                        </li>
                        <li class="nav-item">
                          <select name="sports" id="#">
                              <option value="#">Select Sports</option>
                              <option value="#">Cricket</option>
                              <option value="#">Tennis</option>
                          </select>
                        </li>
                        <li class="nav-item">
                            <a href="#">
                                <img src="../../../assets/images/menu.svg" alt="" />
                            </a>
                        </li>
                    </ul>
                </div>
                
                <div class="d-flex justify-content-center flex-wrap pb-5">
                    <app-matchcards></app-matchcards>
                    <app-matchcards></app-matchcards>
                    <app-matchcards></app-matchcards>
                    <app-matchcards></app-matchcards>
                    <app-matchcards></app-matchcards>
                    <app-matchcards></app-matchcards>
                    <app-matchcards></app-matchcards>
                    <app-matchcards></app-matchcards>
                    <app-matchcards></app-matchcards>
                    <app-matchcards></app-matchcards>
                    <app-matchcards></app-matchcards>
                    <app-matchcards></app-matchcards>
                    <app-matchcards></app-matchcards>
                    <app-matchcards></app-matchcards>
                    <app-matchcards></app-matchcards>
                    <app-matchcards></app-matchcards>
                    <app-matchcards></app-matchcards>
                    <app-matchcards></app-matchcards>
                </div>
                
            </div>
            <div class="cb-mid-right">
               <app-rightsidebar></app-rightsidebar>
            </div>
        </div>
    </div>
</div>
