/* Main Container */
.main-container{
    width: 100%;

    position: relative;
}

.main-container::before{
    content: "";
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../../../assets/images/small-dots.png);
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}

.cb-container{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
}


.cb-mid-content{
    width: 100%;
    background: #191C22;
    box-shadow: -8px 8px 40px rgba(14, 15, 18, 0.2), 8px -8px 40px rgba(14, 15, 18, 0.2), -8px -8px 40px rgba(37, 41, 50, 0.9), 
        8px 8px 50px rgba(14, 15, 18, 0.9), inset 1px 1px 2px rgba(37, 41, 50, 0.3), inset -1px -1px 2px rgba(14, 15, 18, 0.5);
    position: relative;
    margin-left: 80px;
    margin-top: 86px;
    border-top-left-radius: 10px;
}
.cb-mid-content .cb-mid-left{
    width: 74%;
    height: 100%;
    position: relative;
    padding: 0 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cb-mid-content .cb-mid-right{
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 25%;
    padding: 5px 0px;
    margin-top: 85px;
}
.cb-mid-content .cb-mid-left .img-box{
    width: 100%;
}
.cb-mid-content .cb-mid-left .img-box img{
    width: 100%;

}
.sub-nav{
    position: relative;
    width: 590px;
    height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1A1D24;
    box-shadow: -2px 2px 6px rgba(10, 12, 14, 0.2), 2px -2px 6px rgba(10, 12, 14, 0.2), -2px -2px 6px rgba(42, 46, 58, 0.9), 2px 2px 13px rgba(10, 12, 14, 0.9), 
    inset 1px 1px 2px rgba(42, 46, 58, 0.3), inset -1px -1px 2px rgba(10, 12, 14, 0.5);
    border-radius: 10px;
}
.sub-nav ul .nav-item{
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-nav ul .nav-item::before{
    content: '';
    top: 0;
    left: 0;
    width: 1px;
    height: 15px;
    background: #23B054;
}
.sub-nav ul .nav-item:first-child:before,
.sub-nav ul .nav-item:nth-last-child(2):before,
.sub-nav ul .nav-item:last-child:before{
    background: none;
}
.sub-nav ul .nav-item .nav-link{
    font-weight: 500;
    font-size: 16px;
    text-transform: capitalize;
    color: #918F8F !important;
}
.sub-nav ul .nav-item .nav-link.active{
    padding: 8px 30px;
    color: #23B054 !important;
    background: #191C22;
    box-shadow: 1px 1px 2px rgb(38 42 51 / 30%), -1px -1px 2px rgb(12 14 17 / 50%), 
    inset -3px 3px 6px rgb(12 14 17 / 20%), inset 3px -3px 6px rgb(12 14 17 / 20%), inset -3px -3px 6px rgb(38 42 51 / 90%), inset 3px 3px 8px rgb(12 14 17 / 90%);
}
.sub-nav ul .nav-item select{
    width: 123px;
    height: 33px;
    background: #131318;
    color: #908F8F !important;
    border-radius: 6px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-transform: capitalize;
    border: none;
    outline: none;
    padding: 5px 6px;
}
.sub-nav ul .nav-item a img{
    width: 20px;
}







