.cb-left-sidebar{
    position: relative;
}
.cb-left-sidebar .left-content{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 80px;
    padding: 80px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cb-left-sidebar .left-content .cb-first-sidebar-content{
    margin-top: 15px;
}
.cb-left-sidebar .left-content .sidebar-first-layer{
    background: #1A1D24;
    box-shadow: 2px 2px 5px rgba(10, 12, 14, 0.2), 2px -2px 5px rgba(10, 12, 14, 0.2), -2px -2px 5px rgba(42, 46, 58, 0.9), 5px 5px 13px rgba(10, 12, 14, 0.9), 
    inset 1px 1px 2px rgba(42, 46, 58, 0.3), inset -1px -1px 2px rgba(10, 12, 14, 0.5);
    border-radius: 36.5px;
    width: 38px;
    height: 38px;
    margin-bottom: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
    
}
.cb-left-sidebar .left-content .sidebar-first-layer:nth-child(1) svg{
    width: 16px;
}
.cb-left-sidebar .left-content .sidebar-first-layer:nth-child(3) svg{   
    width: 22px;
}
.cb-left-sidebar .left-content .sidebar-second-layer a{
    background: linear-gradient(135deg, #1C2027 0%, #1E242B 100%);
    box-shadow: -1px 1px 2px rgba(12, 14, 16, 0.2), 1px -1px 2px rgba(12, 14, 16, 0.2), -1px -1px 2px rgba(46, 54, 66, 0.9), 1px 1px 3px rgba(12, 14, 16, 0.9), inset 1px 1px 2px rgba(46, 54, 66, 0.3), inset -1px -1px 2px rgba(12, 14, 16, 0.5);
    border-radius: 5px;

    width: 35px;
    height: 35px;
    margin-bottom: 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.cb-left-sidebar .left-content .sidebar-second-layer a.active{
    background: #1D2229;
    box-shadow: 1px 1px 2px rgba(46, 54, 66, 0.3), -1px -1px 2px rgba(12, 14, 16, 0.5), 
    inset -2px 2px 2px rgba(12, 14, 16, 0.2), inset 2px -2px 2px rgba(12, 14, 16, 0.2), inset -2px -2px 2px rgba(46, 54, 66, 0.9), inset 2px 2px 3px rgba(12, 14, 16, 0.9);
}
.cb-left-sidebar .left-content .sidebar-second-layer a img{
    opacity: 0.5;
}
.cb-left-sidebar .left-content .sidebar-second-layer a.active img{
    opacity: 1;
}
.cb-left-sidebar .left-content .cb-second-sidebar-content{
    margin-top: 34px;
}