<div class="cb-col cb-left-sidebar">
    <div class="left-content">
        <div class="cb-first-sidebar-content">
            <div class="sidebar-first-layer">
                <a href="#">
                    <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="0.75" y="0.75" width="24.5" height="24.5" stroke="#17823C" stroke-width="1.5"/>
                        <path d="M8.40723 17.8537L17.8539 8.4071" stroke="#17823C" stroke-width="1.5" stroke-linecap="square" stroke-linejoin="round"/>
                        <path d="M8.99885 10.7755C9.98008 10.7755 10.7755 9.98014 10.7755 8.99891C10.7755 8.01769 9.98008 7.22223 8.99885 7.22223C8.01762 7.22223 7.22217 8.01769 7.22217 8.99891C7.22217 9.98014 8.01762 10.7755 8.99885 10.7755Z" stroke="#17823C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M18.4456 19.0374C19.4268 19.0374 20.2223 18.2419 20.2223 17.2607C20.2223 16.2795 19.4268 15.4841 18.4456 15.4841C17.4644 15.4841 16.6689 16.2795 16.6689 17.2607C16.6689 18.2419 17.4644 19.0374 18.4456 19.0374Z" stroke="#17823C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg> 
                </a>
            </div>
            <div class="sidebar-first-layer">
                <a href="#">
                    <svg width="18" height="17" viewBox="0 0 18 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" clip-rule="evenodd" d="M8.77826 1.78306C8.5416 2.18354 8.2814 2.80833 7.89494 3.7434L7.84617 3.86142C7.64482 4.34865 7.47269 4.76518 7.29362 5.09582C7.10206 5.44955 6.87599 5.75767 6.53957 6.00043C6.2044 6.24229 5.83907 6.36195 5.44025 6.43711C5.06495 6.50784 4.60672 6.54765 4.06638 6.5946L3.82565 6.61553C2.86902 6.69868 2.23157 6.75584 1.80199 6.85423C1.63531 6.89241 1.53944 6.92829 1.48656 6.95363C1.51334 7.00285 1.56557 7.08216 1.66568 7.19984C1.94489 7.52807 2.41521 7.94583 3.12645 8.57387L3.61098 9.00171C3.94273 9.29463 4.22584 9.54461 4.44353 9.77318C4.675 10.0162 4.86923 10.2716 4.99773 10.5907C5.04036 10.6965 5.07583 10.8051 5.10391 10.9156C5.18874 11.2497 5.18176 11.5695 5.13658 11.9002C5.09424 12.2101 5.01106 12.5739 4.91408 12.998L4.84346 13.307C4.65063 14.1505 4.52094 14.7226 4.4735 15.1306C4.44686 15.3597 4.45625 15.469 4.46222 15.5103C4.47745 15.5216 4.49454 15.5312 4.51323 15.5389C4.54652 15.5296 4.65706 15.4939 4.88858 15.3474C5.24531 15.1217 5.71583 14.7508 6.40515 14.2057L6.43104 14.1852C6.85243 13.8519 7.20771 13.5709 7.52196 13.3669C7.8538 13.1516 8.19089 12.987 8.5858 12.9258C8.86022 12.8832 9.13978 12.8832 9.4142 12.9258C9.80911 12.987 10.1462 13.1516 10.478 13.3669C10.7923 13.5709 11.1476 13.8519 11.569 14.1852L11.5949 14.2057C12.2842 14.7508 12.7547 15.1217 13.1114 15.3474C13.3429 15.4939 13.4535 15.5296 13.4868 15.5389C13.5055 15.5312 13.5226 15.5216 13.5378 15.5103C13.5437 15.469 13.5531 15.3597 13.5265 15.1306C13.4791 14.7226 13.3494 14.1505 13.1565 13.307L13.0859 12.998C12.9889 12.5739 12.9058 12.2101 12.8634 11.9002C12.8182 11.5695 12.8113 11.2497 12.8961 10.9156C12.9242 10.8051 12.9596 10.6965 13.0023 10.5907C13.1308 10.2716 13.325 10.0162 13.5565 9.77318C13.7742 9.54461 14.0573 9.29462 14.389 9.0017L14.8736 8.57386C15.5848 7.94583 16.0551 7.52807 16.3343 7.19984C16.4344 7.08216 16.4867 7.00285 16.5134 6.95362C16.4606 6.92829 16.3647 6.89241 16.198 6.85423C15.7684 6.75584 15.131 6.69868 14.1744 6.61553L13.9336 6.5946C13.3933 6.54765 12.9351 6.50784 12.5598 6.43711C12.1609 6.36195 11.7956 6.24229 11.4604 6.00043C11.124 5.75767 10.8979 5.44955 10.7064 5.09582C10.5273 4.76518 10.3552 4.34864 10.1538 3.8614L10.1051 3.74341C9.7186 2.80833 9.4584 2.18354 9.22174 1.78306C9.11529 1.60294 9.04183 1.5171 9 1.47793C8.95817 1.5171 8.88471 1.60294 8.77826 1.78306ZM9.04191 1.44769C9.04189 1.44841 9.03797 1.45099 9.03021 1.45327C9.03805 1.44812 9.04193 1.44698 9.04191 1.44769ZM8.96979 1.45327C8.96203 1.45099 8.95811 1.44841 8.95809 1.44769C8.95807 1.44698 8.96195 1.44812 8.96979 1.45327ZM16.5721 6.99038C16.5717 6.99051 16.5687 6.98826 16.5647 6.9832C16.5705 6.98771 16.5726 6.99024 16.5721 6.99038ZM16.5377 6.89999C16.5381 6.8922 16.5394 6.88787 16.54 6.88765C16.5406 6.88743 16.5404 6.89133 16.5377 6.89999ZM1.45998 6.88765C1.46057 6.88787 1.46194 6.89221 1.46228 6.9C1.45955 6.89132 1.45938 6.88743 1.45998 6.88765ZM1.43533 6.9832C1.43128 6.98826 1.42834 6.99051 1.42788 6.99038C1.42742 6.99024 1.42945 6.98771 1.43533 6.9832ZM7.52152 1.04252C7.8106 0.553355 8.25531 0 9 0C9.74469 0 10.1894 0.553356 10.4785 1.04252C10.7746 1.54364 11.0735 2.26698 11.4309 3.13188L11.4891 3.2725C11.7078 3.80184 11.8515 4.14706 11.9899 4.40268C12.1199 4.64268 12.2174 4.7489 12.3151 4.81941C12.4141 4.89082 12.5508 4.95256 12.8304 5.00526C13.1255 5.06087 13.5105 5.09518 14.0948 5.14598L14.3591 5.16894C15.2422 5.24567 15.9831 5.31004 16.5242 5.43398C17.0509 5.5546 17.691 5.79586 17.9248 6.47061C18.1616 7.15415 17.7941 7.73456 17.4465 8.14318C17.091 8.56103 16.5395 9.048 15.8851 9.62582L15.3779 10.0737C15.0179 10.3915 14.7829 10.5999 14.6139 10.7773C14.4539 10.9454 14.3911 11.0477 14.3561 11.1344C14.3378 11.1799 14.3226 11.2265 14.3106 11.2738C14.288 11.3627 14.2786 11.479 14.3093 11.7032C14.3418 11.9412 14.4098 12.2415 14.5153 12.7031L14.5895 13.0278C14.7694 13.8149 14.9182 14.4656 14.976 14.9626C15.0293 15.4208 15.0488 16.0303 14.6404 16.4717C14.4219 16.7078 14.1403 16.8754 13.8307 16.9574C13.2621 17.108 12.7288 16.8304 12.3303 16.5782C11.9005 16.3062 11.3695 15.8862 10.724 15.3757L10.6889 15.3479C10.2347 14.9887 9.93287 14.751 9.68278 14.5887C9.44388 14.4336 9.30466 14.3834 9.19042 14.3657C9.0643 14.3461 8.9357 14.3461 8.80958 14.3657C8.69534 14.3834 8.55612 14.4336 8.31722 14.5887C8.06713 14.751 7.76532 14.9887 7.31115 15.3479L7.27605 15.3757C6.63053 15.8862 6.09948 16.3062 5.66969 16.5782C5.27123 16.8304 4.73791 17.108 4.16935 16.9574C3.85968 16.8754 3.57809 16.7078 3.35963 16.4717C2.95121 16.0303 2.97072 15.4208 3.02399 14.9626C3.08178 14.4656 3.23055 13.8149 3.41051 13.0278L3.48473 12.7031C3.59025 12.2415 3.65822 11.9412 3.69073 11.7032C3.72137 11.479 3.71201 11.3627 3.68943 11.2738C3.67742 11.2265 3.66221 11.1799 3.64387 11.1344C3.60894 11.0477 3.54614 10.9454 3.38612 10.7773C3.21715 10.5999 2.98209 10.3915 2.62214 10.0737L2.11494 9.62582C1.46051 9.04801 0.908964 8.56104 0.55351 8.14318C0.205914 7.73456 -0.161645 7.15415 0.0752184 6.47061C0.309034 5.79586 0.949141 5.5546 1.47575 5.43398C2.01691 5.31004 2.75782 5.24567 3.64091 5.16894L3.90515 5.14598C4.48949 5.09518 4.87451 5.06087 5.16962 5.00526C5.44922 4.95256 5.5859 4.89082 5.68486 4.81941C5.78258 4.7489 5.88008 4.64268 6.01005 4.40268C6.1485 4.14706 6.29216 3.80184 6.51094 3.2725L6.56906 3.13187C6.92647 2.26697 7.22538 1.54364 7.52152 1.04252Z" fill="#17823C"/>
                    </svg>
                </a>
            </div>
            <div class="sidebar-first-layer">
                <a href="#">
                    <svg width="37" height="30" viewBox="0 0 37 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.71789 8.70918H3.94478C4.7401 8.70918 5.13775 8.33593 5.13775 7.58942V6.62519C5.13775 5.87869 4.71889 5.50544 3.88115 5.50544H1.71789C1.60124 5.50544 1.54292 5.55728 1.54292 5.66096V8.55365C1.54292 8.65734 1.60124 8.70918 1.71789 8.70918ZM1.71789 4.26127H3.78571C4.59164 4.26127 4.9946 3.88284 4.9946 3.12597V2.41057C4.9946 1.66407 4.60224 1.29082 3.81753 1.29082H1.71789C1.60124 1.29082 1.54292 1.34266 1.54292 1.44634V4.10575C1.54292 4.20943 1.60124 4.26127 1.71789 4.26127ZM0 9.73561V0.264385C0 0.0881284 0.0901361 0 0.270408 0H4.04022C4.82493 0 5.43467 0.207361 5.86945 0.622083C6.30422 1.03681 6.52161 1.6226 6.52161 2.37947V3.14152C6.52161 4.04355 6.08683 4.62416 5.21729 4.88336C5.63085 4.9352 5.97019 5.11146 6.23529 5.41213C6.511 5.7128 6.64886 6.11716 6.64886 6.62519V7.62053C6.64886 8.3774 6.43147 8.96319 5.9967 9.37792C5.56192 9.79264 4.95748 10 4.18337 10H0.270408C0.0901361 10 0 9.91187 0 9.73561Z" fill="#17823C"/>
                        <path d="M13.6597 10H8.56968C8.3894 10 8.29927 9.91187 8.29927 9.73561V0.264385C8.29927 0.0881284 8.3894 0 8.56968 0H13.6597C13.8294 0 13.9142 0.0881284 13.9142 0.264385V1.05754C13.9142 1.2338 13.8294 1.32193 13.6597 1.32193H10.0331C9.90581 1.32193 9.84219 1.37377 9.84219 1.47745V4.10575C9.84219 4.20943 9.90581 4.26127 10.0331 4.26127H13.103C13.2939 4.26127 13.3893 4.3494 13.3893 4.52566V5.31882C13.3893 5.49507 13.2939 5.5832 13.103 5.5832H10.0331C9.90581 5.5832 9.84219 5.63504 9.84219 5.73872V8.507C9.84219 8.62105 9.90581 8.67807 10.0331 8.67807H13.6597C13.8294 8.67807 13.9142 8.7662 13.9142 8.94246V9.73561C13.9142 9.91187 13.8294 10 13.6597 10Z" fill="#17823C"/>
                        <path d="M18.2641 10H17.262C17.0711 10 16.9757 9.91187 16.9757 9.73561V1.47745C16.9757 1.37377 16.9227 1.32193 16.8166 1.32193H14.8124C14.6215 1.32193 14.5261 1.2338 14.5261 1.05754V0.264385C14.5261 0.0881284 14.6215 0 14.8124 0H20.7137C20.9046 0 21 0.0881284 21 0.264385V1.05754C21 1.2338 20.9046 1.32193 20.7137 1.32193H18.7095C18.5928 1.32193 18.5345 1.37377 18.5345 1.47745V9.73561C18.5345 9.91187 18.4444 10 18.2641 10Z" fill="#17823C"/>
                        <path d="M20.6196 17.5771V6.78861C20.6196 6.28368 20.8202 5.79943 21.1773 5.44239C21.5343 5.08535 22.0185 4.88477 22.5235 4.88477C23.0284 4.88477 23.5127 5.08535 23.8697 5.44239C24.2267 5.79943 24.4273 6.28368 24.4273 6.78861L24.4546 16.9425" fill="#1A1D24"/>
                        <path d="M20.6196 17.5771V6.78861C20.6196 6.28368 20.8202 5.79943 21.1773 5.44239C21.5343 5.08535 22.0185 4.88477 22.5235 4.88477C23.0284 4.88477 23.5127 5.08535 23.8697 5.44239C24.2267 5.79943 24.4273 6.28368 24.4273 6.78861L24.4546 16.9425" stroke="#17823C" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M24.455 16.9424L24.4277 13.1347C24.4277 12.6298 24.6283 12.1456 24.9854 11.7885C25.3424 11.4315 25.8266 11.2309 26.3316 11.2309C26.8365 11.2309 27.3208 11.4315 27.6778 11.7885C28.0348 12.1456 28.2354 12.6298 28.2354 13.1347V16.3078" fill="#1A1D24"/>
                        <path d="M24.455 16.9424L24.4277 13.1347C24.4277 12.6298 24.6283 12.1456 24.9854 11.7885C25.3424 11.4315 25.8266 11.2309 26.3316 11.2309C26.8365 11.2309 27.3208 11.4315 27.6778 11.7885C28.0348 12.1456 28.2354 12.6298 28.2354 13.1347V16.3078" stroke="#17823C" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M28.2627 16.3078C28.2627 15.8029 28.436 13.4148 28.7931 13.0577C29.1501 12.7007 29.6343 12.5001 30.1393 12.5001C30.6442 12.5001 31.1285 12.7007 31.4855 13.0577C31.8425 13.4148 32.0431 13.899 32.0431 14.404V16.3078" fill="#1A1D24"/>
                        <path d="M28.2627 16.3078C28.2627 15.8029 28.436 13.4148 28.7931 13.0577C29.1501 12.7007 29.6343 12.5001 30.1393 12.5001C30.6442 12.5001 31.1285 12.7007 31.4855 13.0577C31.8425 13.4148 32.0431 13.899 32.0431 14.404V16.3078" stroke="#17823C" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M32.0431 15.6733C32.0431 15.1683 32.2437 14.6841 32.6008 14.327C32.9578 13.97 33.442 13.7694 33.947 13.7694C34.4519 13.7694 34.9362 13.97 35.2932 14.327C35.6502 14.6841 35.8508 15.1683 35.8508 15.6733V21.3848C35.8508 23.4045 35.0485 25.3415 33.6203 26.7697C32.1922 28.1978 30.2552 29.0002 28.2354 29.0002H25.697H25.961C24.6998 29.0004 23.4583 28.6874 22.348 28.0892C21.2376 27.4911 20.2932 26.6266 19.5996 25.5733L19.3508 25.1925C18.9548 24.5845 17.565 22.1616 15.1801 17.9223C14.937 17.4902 14.8721 16.9803 14.9991 16.501C15.1262 16.0217 15.4352 15.6109 15.8604 15.3559C16.3134 15.0842 16.8442 14.9715 17.3685 15.0359C17.8928 15.1003 18.3805 15.338 18.7543 15.7113L20.62 17.5771" fill="#1A1D24"/>
                        <path d="M32.0431 15.6733C32.0431 15.1683 32.2437 14.6841 32.6008 14.327C32.9578 13.97 33.442 13.7694 33.947 13.7694C34.4519 13.7694 34.9362 13.97 35.2932 14.327C35.6502 14.6841 35.8508 15.1683 35.8508 15.6733V21.3848C35.8508 23.4045 35.0485 25.3415 33.6203 26.7697C32.1922 28.1978 30.2552 29.0002 28.2354 29.0002H25.697H25.961C24.6998 29.0004 23.4583 28.6874 22.348 28.0892C21.2376 27.4911 20.2932 26.6266 19.5996 25.5733L19.3508 25.1925C18.9548 24.5845 17.565 22.1616 15.1801 17.9223C14.937 17.4902 14.8721 16.9803 14.9991 16.501C15.1262 16.0217 15.4352 15.6109 15.8604 15.3559C16.3134 15.0842 16.8442 14.9715 17.3685 15.0359C17.8928 15.1003 18.3805 15.338 18.7543 15.7113L20.6201 17.5771" stroke="#17823C" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="cb-second-sidebar-content">
            <div class="sidebar-second-layer">
                <a class="active" href="#">
                    <img src="../../../assets/images/batball.svg" width="16" alt="" /> 
                </a>
            </div>
            <div class="sidebar-second-layer">
                <a href="#">
                    <img src="../../../assets/images/volleyball.svg"width="16" alt="" />
                </a>
            </div>
            <div class="sidebar-second-layer">
                <a href="#">
                    <img src="../../../assets/images/tennis.svg" width="16" alt="" />
                </a>
            </div>
            <div class="sidebar-second-layer">
                <a href="#">
                    <img src="../../../assets/images/tt.svg" width="16" alt="" />
                </a>
            </div>
            <div class="sidebar-second-layer">
                <a href="#">
                    <img src="../../../assets/images/boxing.svg" width="24" alt="" />
                        
                </a>
            </div>
            <div class="sidebar-second-layer">
                <a href="#">
                    <img src="../../../assets/images/cart.svg" width="16" alt="" />
                </a>
            </div>
            <div class="sidebar-second-layer">
                <a href="#">
                    <img src="../../../assets/images/dog.svg" width="22" alt="">   
                </a>
            </div>
        </div>
    </div>
</div>