.popup-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #191C22;
}
.popup-content{
    width: 242px;
    height: 305px;
    background: rgba(58, 61, 73, 0.2);
    -webkit-backdrop-filter: blur(80px);
    backdrop-filter: blur(80px);
    position: relative;
    margin: 15px 10px;
}

.popup-1-radius{
    width: 30px;
    height: 30px;
    background: #191C22;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    left: -10px;
}
.popup-2-radius{
    width: 30px;
    height: 30px;
    background: #191C22;
    border-radius: 50%;
    position: absolute;
    top: -10px;
    right: -10px;
}
.popup-3-radius{
    width: 30px;
    height: 30px;
    background: #191C22;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    left: -10px;
}
.popup-4-radius{
    width: 30px;
    height: 30px;
    background: #191C22;
    border-radius: 50%;
    position: absolute;
    bottom: -10px;
    right: -10px;
}
.popup-5-radius{
    width: 35px;
    height: 35px;
    background: #191C22;
    border-radius: 50%;
    position: absolute;
    top: 53.5%;
    left: 0%;
    transform: translate(-50%, -50%);
}

.popup-6-radius{
    width: 35px;
    height: 35px;
    background: #191C22;
    border-radius: 50%;
    position: absolute;
    top: 53.5%;
    right: -14%;
    transform: translate(-50%, -50%);
}
.popup-content::before{
    position: absolute;
    top: 20px;
    left: 16px;
    content: "";
    width: 30px;
    height: 30px;
    background-image: url(../../../assets/images/star.svg);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1A1D23;
    box-shadow: -3px 3px 6px rgba(12, 14, 16, 0.2), 3px -3px 6px rgba(12, 14, 16, 0.2), -3px -3px 6px rgba(40, 44, 54, 0.9), 3px 3px 8px rgba(12, 14, 16, 0.9), inset 1px 1px 2px rgba(40, 44, 54, 0.3), inset -1px -1px 2px rgba(12, 14, 16, 0.5);
}
.popup-content::after{
    position: absolute;
    top: 20px;
    right: 16px;
    content: "";
    width: 30px;
    height: 30px;
    background-image: url(../../../assets/images/tv.svg);
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #1A1D23;
    box-shadow: -3px 3px 6px rgba(12, 14, 16, 0.2), 3px -3px 6px rgba(12, 14, 16, 0.2), -3px -3px 6px rgba(40, 44, 54, 0.9), 3px 3px 8px rgba(12, 14, 16, 0.9), inset 1px 1px 2px rgba(40, 44, 54, 0.3), inset -1px -1px 2px rgba(12, 14, 16, 0.5);
}
.team-vs{
    display: flex;
    padding: 0px 26px;
    justify-content: space-between;
    margin-top: 53px;
    align-items: flex-end;
}
.team-left,
.team-right{
    text-align: center;
    color: #fff;
}
.team-left div,
.team-right div{
    background: linear-gradient(135deg, #1C2027 0%, #1E242B 100%);
    box-shadow: -1px 1px 2px rgba(12, 14, 16, 0.2), 1px -1px 2px rgba(12, 14, 16, 0.2), -1px -1px 2px rgba(46, 54, 66, 0.9), 1px 1px 3px rgba(12, 14, 16, 0.9), inset 1px 1px 2px rgba(46, 54, 66, 0.3), inset -1px -1px 2px rgba(12, 14, 16, 0.5);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transform: scale(0.9);
}
.team-left div img{
    width: 32px;
}
.team-right div img{
    width: 44px;
}


.team-left h3,
.team-right h3{
    font-family: 'Rajdhani', sans-serif;
    margin-top: 6px !important;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
}
.vs-panel h4{
    font-family: 'Rajdhani', sans-serif;
    margin-top: 6px !important;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #7D7E7D;
}
.vs-panel{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.vs-panel img{
    width: 22px;
}
.vs-panel h3{
    font-family: 'Rajdhani', sans-serif;
    color: #23B054;
    font-size: 22px;
    margin: 8px 0 8px !important;
}
.bet-section{
    justify-content: space-between;
    width: 186px;
    margin: 9px auto 0;
    border-radius: 4px;
    padding: 10px 6px;
    display: flex;
    background: #1E252A;
    box-shadow: -1px 1px 2px rgba(12, 15, 17, 0.2), 1px -1px 2px rgba(12, 15, 17, 0.2), -1px -1px 2px rgba(48, 59, 67, 0.9), 1px 1px 3px rgba(12, 15, 17, 0.9), inset 1px 1px 2px rgba(48, 59, 67, 0.3), inset -1px -1px 2px rgba(12, 15, 17, 0.5);
}
.bet-section div{
    border: 1px solid #214E39;
    border-radius: 4px;
    width: 26px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bet-section div p{
    font-size: 12px;
    color: #23B054;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
}
.pl-section{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 0 46px;
}
.pl-section div{
    text-align: center;
    margin-top: 10px;
}
.pl-section p{
    padding: 4px 12px;
    border-radius: 4px;
    margin-bottom: 12px !important;
    font-size: 14px;
}
.pl-section h2{
    font-size: 14px;
    margin-bottom: 8px !important;
    color: #fff;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
}
.green-btn{
    background: #1D2A1F;
    color: #23B054;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    box-shadow: -1px 1px 2px rgba(12, 15, 17, 0.2), 1px -1px 2px rgba(12, 15, 17, 0.2), -1px -1px 2px rgba(48, 67, 52, 0.9), 1px 1px 3px rgba(12, 15, 17, 0.9), inset 1px 1px 2px rgba(48, 59, 67, 0.3), inset -1px -1px 2px rgba(12, 15, 17, 0.5);
}
.green-btn.active{
    background: #1D2A1F;
    box-shadow: 1px 1px 2px rgba(46, 67, 50, 0.3), -1px -1px 2px rgba(12, 17, 12, 0.5), inset -1px 1px 2px rgba(12, 17, 12, 0.2), inset 1px -1px 2px rgba(12, 17, 12, 0.2), inset -1px -1px 2px rgba(46, 67, 50, 0.9), inset 1px 1px 3px rgba(12, 17, 12, 0.9);
}
.pink-btn{
    background: #390E5A;
    color: #A954EB;
    font-family: 'Rajdhani', sans-serif;
    font-weight: 400;
    box-shadow: -1px 1px 2px rgba(23, 6, 36, 0.2), 1px -1px 2px rgba(23, 6, 36, 0.2), -1px -1px 2px rgba(91, 22, 144, 0.9), 1px 1px 3px rgba(23, 6, 36, 0.9), inset 1px 1px 2px rgba(91, 22, 144, 0.3), inset -1px -1px 2px rgba(23, 6, 36, 0.5);
}
.pink-btn.active{
    background: #390E5B;
    box-shadow: 1px 1px 2px rgba(91, 22, 146, 0.3), -1px -1px 2px rgba(23, 6, 36, 0.5), inset -1px 1px 2px rgba(23, 6, 36, 0.2), inset 1px -1px 2px rgba(23, 6, 36, 0.2), inset -1px -1px 2px rgba(91, 22, 146, 0.9), inset 1px 1px 3px rgba(23, 6, 36, 0.9);
}

.popup-header{
    position: absolute;
    top: -9px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 8px;
    width: 137px;
    background: #0F1115;
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.inner-popup{


    position: absolute;
    top: 1px;
    left: 50%;
    transform: translate(-50%, 0);
    height: 40px;
    width: 130px;
    background: linear-gradient(135deg, #191C22 0%, #1B1E26 100%);
    box-shadow: -1px 1px 2px rgb(12 13 16 / 20%), 1px -1px 2px rgb(12 13 16 / 20%), -1px -1px 2px rgb(40 45 56 / 90%), 1px 1px 3px rgb(12 13 16 / 90%), inset 1px 1px 2px rgb(40 45 56 / 30%), inset -1px -1px 2px rgb(12 13 16 / 50%);
    border-bottom-right-radius: 45px;
    border-bottom-left-radius: 45px;
    z-index: 2;
}
.popup-header .cb-date{
    position: relative;
    z-index: 3;
    font-size: 18px;
    text-align: center;
    margin: 2px 0 0 !important;
    font-family: 'Rajdhani',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    letter-spacing: -0.01em;
    text-transform: capitalize;
     
    color: #23B054 !important;
}
.popup-header .cb-time{
    margin: 0 !important;
    font-size: 13px;
    position: relative;
    z-index: 3;
    text-align: center;
    margin-top: -5px !important;
    font-family: 'Rajdhani';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-transform: capitalize;

    color: #7D7E7D;
}