<div class="cb-add-container">
    <div class="ad-box1">
        <div class="popup-header">
            <div class="inner-popup"></div>
            <h2 class="cb-date">Bet Slips</h2>
        </div>
        <h5>Your betslip is empty!!</h5>
        <p>Click on odds to add a bet to your betslip</p>
    </div>
    <div class="ad-box2">
        <div class="popup-header">
            <div class="inner-popup"></div>
            <h2 class="cb-date">Provider</h2>
        </div>
        <div class="cb-provider-content">
            <div class="box1">
                <div class="box-1-radius"></div>
                <div class="box-2-radius"></div>
                <div class="box-3-radius"></div>
                <div class="box-4-radius"></div>
                <div class="box-5-radius"></div>
                <div class="box-6-radius"></div>
                <img src="../../../assets/images/ezugi.png" alt="" />
            </div>
            <div class="box1">
                <div class="box-1-radius"></div>
                <div class="box-2-radius"></div>
                <div class="box-3-radius"></div>
                <div class="box-4-radius"></div>
                <div class="box-5-radius"></div>
                <div class="box-6-radius"></div>
                <img src="../../../assets/images/ezugi.png" alt="" />
            </div>
            <div class="box1">
                <div class="box-1-radius"></div>
                <div class="box-2-radius"></div>
                <div class="box-3-radius"></div>
                <div class="box-4-radius"></div>
                <div class="box-5-radius"></div>
                <div class="box-6-radius"></div>
                <img src="../../../assets/images/ezugi.png" alt="" />
            </div>
            <div class="box1">
                <div class="box-1-radius"></div>
                <div class="box-2-radius"></div>
                <div class="box-3-radius"></div>
                <div class="box-4-radius"></div>
                <div class="box-5-radius"></div>
                <div class="box-6-radius"></div>
                <img src="../../../assets/images/ezugi.png" alt="" />
            </div>
            <div class="box1">
                <div class="box-1-radius"></div>
                <div class="box-2-radius"></div>
                <div class="box-3-radius"></div>
                <div class="box-4-radius"></div>
                <div class="box-5-radius"></div>
                <div class="box-6-radius"></div>
                <img src="../../../assets/images/ezugi.png" alt="" />
            </div>
            <div class="box1">
                <div class="box-1-radius"></div>
                <div class="box-2-radius"></div>
                <div class="box-3-radius"></div>
                <div class="box-4-radius"></div>
                <div class="box-5-radius"></div>
                <div class="box-6-radius"></div>
                <img src="../../../assets/images/ezugi.png" alt="" />
            </div>
            <div class="box1">
                <div class="box-1-radius"></div>
                <div class="box-2-radius"></div>
                <div class="box-3-radius"></div>
                <div class="box-4-radius"></div>
                <div class="box-5-radius"></div>
                <div class="box-6-radius"></div>
                <img src="../../../assets/images/ezugi.png" alt="" />
            </div>
        </div>
    </div>
</div>