/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #191C22 !important;
    font-family: 'Rajdhani', sans-serif !important;
}
a{
    text-decoration: none !important;
    color: #fff !important;
    font-family: 'Rajdhani', sans-serif; 
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0 !important;
    font-family: 'Rajdhani', sans-serif;
}
li{
    list-style: none;
    font-family: 'Rajdhani', sans-serif;
}

.rule-container.show .cb-mid-left-container{
    transform: translateY(0px);
    transition: all 0.3s ease;
}